nav{
    background-color: gainsboro;
    width: 100%;
    height: auto;
    border-radius: 0px !important;
    padding: 5px 15px ;
    display: flex;
    align-items: center;
    /*justify-content: flex-start; */
}
nav .navbar-brand img {
    max-height: 120px; 
    width: auto;
    object-fit: contain;
    display: block;
    padding: 0px;
    margin: 0px;
}
nav .navbar-nav{
    display: flex;
    align-items: center; 
    margin-top: 0;  
}
nav .navbar-nav a{
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 16px;
    transition: .3s ease all; 
    padding: 8px 12px; 
}
nav .navbar-nav a:hover ,
nav .navbar-nav a:focus {
    color:var(--grey-color) !important
}
nav .navbar-nav .active{
    color: var(--grey-color) !important;
}
nav .navbar-nav svg.phone{
    margin-right: 8px;
}
nav .navbar-nav button{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 200px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out; 
    padding: 8px 16px;

}
nav .navbar-nav button span{
    background-color: white;
    color: var(--grey-color);
    width: 40px;
    border-radius: 4px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .navbar-nav button:hover{
    background-color: rgb(66, 66, 175);
    border: 1px solid rgb(66, 66, 175);
}
.navbar-nav .dropdown-menu{
    position: static;
    background-color: white;
    border: 1px solid white;
}
.navbar-nav .dropdown-menu a{
    color: #444;
    font-size: 14px;
    line-height: 30px !important;
    position: relative;
}
.navbar-nav .dropdown-menu a:hover{
    color: var(--grey-color) !important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
    cursor: pointer;
    background-color: var(--grey-color);
    border: 1px solid var(--grey-color);
    border-radius: 0px;
}
@media only screen and (max-width : 992px){
    nav .navbar-nav .dropdown-menu{
       width: 100%;
    }
    nav .navbar-nav button{
        margin-top: 0px;
        width: 100%;
    }
}