nav{
    background-color: gainsboro;
    width: 100%;
    height: auto;
    border-radius: 0px !important;
}
nav .navbar-nav{
    margin-top: 12px;
}
nav .navbar-nav a{
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 16px;
    transition: .3s ease all;
}
nav .navbar-nav a:hover ,
nav .navbar-nav a:focus {
    color:var(--grey-color) !important
}
nav .navbar-nav .active{
    color: var(--grey-color) !important;
}
nav .navbar-nav svg.phone{
    margin-right: 8px;
}
nav .navbar-nav button{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 200px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: -10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}
nav .navbar-nav button span{
    background-color: white;
    color: var(--grey-color);
    width: 40px;
    border-radius: 4px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 15px;
}
nav .navbar-nav button:hover{
    background-color: rgb(66, 66, 175);
    border: 1px solid rgb(66, 66, 175);
}
.navbar-nav .dropdown-menu{
    position: static;
    background-color: white;
    border: 1px solid white;
}
.navbar-nav .dropdown-menu a{
    color: #444;
    font-size: 14px;
    line-height: 30px !important;
    position: relative;
}
.navbar-nav .dropdown-menu a:hover{
    color: var(--grey-color) !important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
    cursor: pointer;
    background-color: var(--grey-color);
    border: 1px solid var(--grey-color);
    border-radius: 0px;
}
/* .navbar-nav .dropdown-menu li::before{
    position: absolute;
    content: "";
    display: block;
    bottom: -5px;
    left: 0;
    width: 10px;
    height: 4px;
    background-color: var(--main-color);
    color: var(--main-color);
} */
@media only screen and (max-width : 992px){
    nav .navbar-nav .dropdown-menu{
       width: 100%;
    }
    nav .navbar-nav button{
        margin-top: 0px;
        width: 100%;
    }
}